.Content {
    margin-top: 40px;
    text-align: center;
}
.sidebar {
    background-color: #11cacc;
    height: -webkit-fill-available;
    position: absolute;
}
.sidebar ul {
    padding: 20px;
}
.sidebar ul li {
    list-style: none;
    line-height: 40px;
}

.sidebar ul li a {
    color:white;
    text-decoration: none;
}